<nav class="w-full p-4 flex justify-end items-center gap-5">
  <a
    href="https://github.com/amitjimiwal"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GitHub"
  >
    <img
      src="
     https://api.dicebear.com/8.x/pixel-art/svg"
      class="h-10"
      alt="User avatar"
    /></a
  >
  <iframe
    src="https://ghbtns.com/github-btn.html?user=amitjimiwal&repo=scrapyweb&type=star&size=large"
    width="70"
    height="30"
    title="GitHub"></iframe>
</nav>
