---
import Layout from "../layouts/Layout.astro";
import Form from "@/components/Form";
import Result from "@/components/Result";
import { Copy } from "lucide-react";
import Navbar from "@/components/Navbar.astro";
---

<Layout title="Scrapyweb">
  <main class="text-white w-full flex flex-col items-center min-h-screen px-3">
    <Navbar />
    <header class="w-full text-center mt-28 mb-10">
      <h1 class="text-2xl sm:text-7xl text-gradient">Scrapyweb</h1>
      <p class="text-xl sm:text-2xl">
        Scrape your website's
        <a
          href="https://ogp.me/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Open Graph Protocol"
          class="text-red-400 text-extrabold hover:text-blue-400">OGP</a
        > metadata with ease
      </p>
    </header>
    <div class="w-full text-center mb-5">
      <Form client:visible />
    </div>
    <div class="w-full sm:w-1/2 bg-gray-500 bg-opacity-10 h-auto p-4 relative">
      <button id="cpy" class="absolute right-3">
        <Copy />
      </button>
      <div id="text">
        <Result client:visible />
      </div>
    </div>
  </main>
</Layout>

<script>
  const button = document.getElementById("cpy");
  const text = document.getElementById("text");
  button?.addEventListener("click", () => {
    navigator.clipboard.writeText(text?.innerText || "");
  });
</script>
<style>
  h1 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 0.2em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
